* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f5cf06;
  --second-color: #8e4106;
}
body {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90vw;
  border: 2px solid color white;
  margin: auto;
}
header {
  background-color: aqua;
  margin-top: 70px;
}

main {
  background-color: tomato;
  flex-grow: 3;
}
footer {
  background-color: plum;
  margin-bottom: 24px;
}
